* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: text;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    overflow: hidden;
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item {
      min-width: 500px !important;
      padding: 5px !important;
    }
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
      padding-right: 20px;
    }
  }

h2 {
    text-align: center;
}


.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item {
  transition: opacity .5s, transform .5s ease-out, !important;
  padding: 0 !important;
  opacity: 0 !important;
  left: -30px !important;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu:hover > .pro-inner-list-item {
  transform: translateX(109px) !important;
  z-index: -1;
  opacity: 1 !important;
}