* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: text;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    overflow: hidden;
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item {
      min-width: 500px !important;
      padding: 5px !important;
    }
    .pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item > .popper-inner {
      padding-right: 20px;
    }
  }

h2 {
    text-align: center;
}


.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu > .pro-inner-list-item {
  visibility: visible !important;
  opacity: 0 !important;
  transition: transform 4s, opacity .5s !important;
  padding: 0 !important;
  pointer-events: none;
}

.pro-sidebar.collapsed .pro-menu > ul > .pro-menu-item.pro-sub-menu:hover > .pro-inner-list-item {
  pointer-events: all;
  opacity: 1 !important;
  left: 0px !important;
}